@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #101828;
  --primary: #155eef;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #101828;
  font-family: var(--font-graphik);
  height: 100vh;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

ul.ant-dropdown-menu.ant-dropdown-menu-vertical {
  padding: 12px;
}

div.ant-segmented-group {
  gap: 0.5rem;
}

span.ant-input-wrapper > span.ant-input-group-addon {
  background: white;
}

div.slick-dots.slick-dots-bottom > ul > li,
div.slick-dots.slick-dots-bottom > ul > li.slick-active {
  width: 100%;
}

div.ql-editor {
  font-size: 16px;
  font-family: var(--font-graphik);
  height: 10rem;
}

div.ant-upload-list.ant-upload-list-picture-card {
  margin-top: 1rem;
  display: grid !important;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

div.ant-upload-list.ant-upload-list-picture-card
  > div.ant-upload-list-item-container {
  width: 100% !important;
  height: auto !important;
}

span.ant-upload-wrapper.ant-upload-picture-card-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  div.ant-upload-list.ant-upload-list-picture-card {
    margin-top: 1.5rem;
    gap: 3rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
